<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<package name="org.sist.project.domain"/> <!-- import한것 처럼, 네임스페이스 추가한것처럼 생략가능 -->
</typeAliases>
</configuration>